<template>
  <div class="app__chart">
    <h2>График популярности платежных систем</h2>
    <line-chart
      :data="chartData"
      :options="chartOptions"
      :width="1000"
      :height="500"
    />
  </div>
</template>

<script>
import LineChart from '@/components/ChartLine.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'chart',
  components: {
    LineChart
  },
  computed: {
    ...mapGetters('paymentRate', ['paymentRate']),
    paymentRateNames () {
      return this.paymentRate.map(item => item.name)
    },
    paymentRateCounts () {
      return this.paymentRate.map(item => item.count)
    },
    chartData () {
      return {
        labels: this.paymentRateNames,
        datasets: [
          {
            label: 'Count',
            backgroundColor: '#76a7fa',
            data: this.paymentRateCounts
          }
        ]
      }
    },
    chartOptions () {
      return {
        responsive: false,
        maintainAspectRatio: false
      }
    }
  },
  methods: {
    ...mapActions('transactions', ['setTransactions']),
    ...mapActions('paymentRate', ['countPaymentRate'])
  },
  created () {
    this.setTransactions()
    this.countPaymentRate()
  }
}
</script>

<style>
.app__chart {
  margin: 0 auto;
}
</style>
