<template>
  <v-container fluid>
    <v-data-table
      :headers="paymentRateHeaders"
      :items="paymentRate"
      hide-actions
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.name }}</td>
        <td class="text-xs-left">{{ props.item.count }}</td>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'PaymentRate',
  computed: {
    ...mapGetters('headers', ['paymentRateHeaders']),
    ...mapGetters('paymentRate', ['paymentRate'])
  },
  methods: {
    ...mapActions('transactions', ['setTransactions']),
    ...mapActions('paymentRate', ['countPaymentRate'])
  },
  created () {
    this.setTransactions()
    this.countPaymentRate()
  }
}
</script>

<style>

</style>
