<template>
  <v-container fluid>
    <v-data-table
      :headers="projectsHeaders"
      :items="projectsCounter"
      hide-actions
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.name }}</td>
        <td class="text-xs-left">{{ props.item.count }}</td>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Projects',
  computed: {
    ...mapGetters('headers', ['projectsHeaders']),
    ...mapGetters('transactions', ['transactions']),
    ...mapGetters('projects', ['projectsCounter'])
  },
  methods: {
    ...mapActions('transactions', ['setTransactions']),
    ...mapActions('projects', ['countProjects'])
  },
  created () {
    this.setTransactions()
    this.countProjects()
  }
}
</script>

<style>

</style>
