<template>
  <v-container fluid>
    <v-text-field
      label="Search"
      v-model="search"
      @input="applySearch"
    ></v-text-field>
    <v-data-table
      :headers="transactionsHeaders"
      :items="filteredTransactions"
      hide-actions
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.transaction.id }}</td>
        <td class="text-xs-left">{{ props.item.transaction.status }}</td>
        <td class="text-xs-left">{{ props.item.transaction.transfer_date }}</td>
        <td class="text-xs-left">{{ props.item.transaction.payment_method.name }}</td>
        <td class="text-xs-left">{{ props.item.transaction.project.name }}</td>
        <td class="text-xs-left">{{ props.item.payment_details.payment.amount }}</td>
        <td class="text-xs-left">{{ props.item.payment_details.payment.currency }}</td>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Transactions',
  data () {
    return {
      search: ''
    }
  },
  computed: {
    ...mapGetters('transactions', ['filteredTransactions']),
    ...mapGetters('headers', ['transactionsHeaders'])
  },
  methods: {
    ...mapActions('transactions', ['setTransactions', 'applyFilter']),
    applySearch () {
      this.applyFilter(this.search)
    }
  },
  created () {
    this.setTransactions()
  }
}
</script>

<style scoped>
</style>
