<template>
  <v-toolbar color="indigo" dark fixed app>
    <v-toolbar-title class="app__title">Application</v-toolbar-title>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn flat to="transactions">Transactions</v-btn>
      <v-btn flat to="projects">Projects</v-btn>
      <v-btn flat to="rate">Payment Rate</v-btn>
      <v-btn flat to="chart">Payment Chart</v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style>
  .app__title {
    padding-right: 24px;
  }
</style>
